@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

:root {
  --bg-color: linear-gradient(to right, #A18CD1, #FBC2EB);
  --font-family: 'Poppins', sans-serif;
  --subheading-font-color: #4F4F4F;
  --purple: #A38DD2;
  --primary-font-color: #1D2130;
  --size-one : 1rem;
  --size-two : 1.5rem;
  --size-three : 2rem;
  --size-four : 2.5rem;
  --size-five : 3rem;
  --size-six : 4rem;
  --size-seven : 3.5rem;
  --size-eight : 4.5rem;
  --size-nine : 5rem;

}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-wrapper {
  min-height: 100vh;
  /* padding-bottom: 600px; */
}

h2 {
  color: #000;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.8rem;
  margin: 0;
}

h3 {
  font-size: var(--size-three);
  line-height: 2.8rem;
  color: #000;
  font-weight: 600;
}

h4 {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

h6 {
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--purple);
  font-weight: 500;
}

p, li {
  font-size: var(--size-one);
  color: var(--primary-font-color);
  line-height: var(--size-two);
  margin: 0;
}
a{
  text-decoration: none;
  color: var(--primary-font-color);
}

.mainHeading {
  font-size: var(--size-three);
  line-height: 2.8rem;
  font-weight: 600;
}

.cardParagraph, .shdwcardwrm ul li {
  font-size: var(--size-one);
  line-height: var(--size-two);
  color: var(--primary-font-color);
  margin: 0;
}

.pageButton, input.contactUsBtn {
  background-color: var(--purple);
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  padding: 0.875rem 2.8125rem;
  border-radius: 1.875rem;
  border: none;
}
.pageButton:hover, input.contactUsBtn:hover, form.seoform input[type="submit"]:hover{
  box-shadow: 0px 0px 10px #a38dd2;
}

/*header CSS*/
header {
  background: var(--bg-color);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
}

header li.nav-item {
  font-size: 1.1rem;
}
a.header-btn:hover {
  box-shadow: 0px 0px 17px #d8ade1;
}
.navbar-nav .dropdown-menu {
  background: linear-gradient(to right, #ffffffde, #fefefed6) ;
  border: none;
}
.dropdown-item {
  color: #000000 !important;
  font-size: 1.25rem;
  margin: 25px 0 0 0;
}
.dropdown-item:hover, .dropdown-item:active, .dropdown-item.active{
  background-color: var(--purple);
}

ul.dropdown-menu{
  overflow-y: scroll;
  max-height: 600px;
}

/*home slider CSS*/
.slider-bg {
  background-image: url("./src/assets/slider-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4rem 0 2rem;
}

.sliderSubheading {
  color: var(--subheading-font-color);
  font-size: var(--size-three);
}

.sliderHeading {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.25rem;
  margin-top: 1rem;
  margin-bottom: 3.12rem;
  max-width: 44rem;
}

.sliderButton {
  color: #fff;
  font-size: 1.1rem;
  padding: 1rem 2.5rem;
  background-color: var(--purple);
  border: none;
  border-radius: 6.25rem;
}
.sliderButton:hover {
  box-shadow: 0px 0px 10px #a38dd2;
}
.home-slider-image{
  margin-top: 30px;
}



/*Home Second Section*/
.home-card-section {
  gap: 5.12rem;

}

.homeCardSectionTwo {
  padding: 3.42rem 2.37rem 1.53rem;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.04);
  border-radius: 2.9375rem;
}
.homeCardSectionTwo:hover {
  box-shadow: 0px 0px 31px 0px rgb(0 0 0 / 11%);
}

.homeCardSectionTwo img {
  background-color: #F9F9F9;
  padding: 1rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.homeCardSectionTwo h3 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-left: 2.5rem;
}

.homeCardSectionTwo a {
  color: var(--purple) !important;
  font-size: var(--size-one);
  font-weight: 500;

}

/*SEO Form*/
form.seoform {
  background-color: #fff;
  display: flex;
  flex-direction: column; 
  padding: 4rem 3rem;
  border-radius: 2.32981rem;
  /* margin-bottom: 5rem;
  margin-top: 2rem; */
}
form.seoform input {
  padding: 1rem 2rem;
  margin: 1rem 0;
  border: none;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
  border-radius: 1.51438rem;
}
form.seoform input[type="submit"] {
  background-color: #A38DD2;
  font-size: 1.55319rem;
  color: #fff;
}
form.seoform p{
  font-size: 1.24256rem;
}
.seoformText .t1 {
  font-size: 3.5rem;
  line-height: 6.25rem;
  font-weight: 300;
}
.seoformText .t2 {
  font-size: 4rem;
  line-height: 4.25rem;
  font-weight: 600;
}
.seoformText p.t3 {
  font-size: var(--size-three);
  line-height: 2.52rem;
  margin: 2rem 0;
}

/*prple BG*/
.cardBg {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(9, 0, 30, 0.90);
  color: #fff;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(9, 0, 30, 0.90);
  color: #fff;
  padding: 5rem 2rem;
}
.overlay .t1 {
  font-size: 2.5rem;
}
.overlay a.t3 {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  border: 1px solid #fff;
  border-radius: 0.375rem;
  padding: 0.3rem 1rem;
}

/*Client Section*/
.clientSection h2 {
  font-size: var(--size-three);
  font-weight: 400;
}

/*shadow cards with read more*/
.shdwcardwrm {
  padding: 1.5rem 1.5rem 3.5rem 1.5rem;
  height: 100%;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.04);
  border-radius: 0.625rem;
}
.shdwcardwrm:hover{
  box-shadow: 0px 0px 31px 0px rgb(0 0 0 / 11%);
}

.shdwcardwrm a, .cardpurpledot a {
  color: var(--purple) !important;
  font-size: var(--size-one);
  font-weight: 500;
}

/*****Portfolio Cards******/
.portfolioCards{
  height: 100%;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.04);
  border-radius: 0.625rem;
  background-color: #fbc2eb90;
}

.portfolioCards:hover{
  box-shadow: 0px 0px 31px 0px rgb(0 0 0 / 11%);
}
.portfolioCards h4 {
  font-size: 1.2rem;
}

.portfolioCards img{
  border-radius: 0.625rem 0.625rem 0rem 0rem;
}



/*why us home page*/
/* .whyuscard img {
  padding: 1rem;
  background-color: #F9F9F9;
  border-radius: 50%;
} */

.whyuscard {
  padding: 0 2.5rem 3rem;
}

/*home CTA*/
.homecta {
  background-image: url("/src/assets/smart-home-gf21a64b6e_1920.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 7rem 0;
}

/*Genral Slider*/

.genralSlider {
  padding: 4rem 0;
  background-size: auto;
    background-repeat: no-repeat;
    background-position: 100% 0%;
}

.genralsliderHeading {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4.4rem;
  padding-top: 2rem;
}

p.genralsliderPara {
  font-size: 1.75rem;
  line-height: 2.3rem;
  padding: 0rem 0 3rem;
}
/*our client section*/

.clientImage img.img-fluid {
  max-width: 165px;
}


/*Why use app*/
.whyuseapp {
  background-color: #FFF5FD;
  padding: 8rem 0;
}
.whyuseapp a {
  background-color: #000;
  display: inline-flex;
  border-radius: 1rem;
  align-items: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  cursor: pointer;
}
.whyuseapp a div {
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.7rem;
}
.whyuseapp a div span {
  font-size: var(--size-three);
}
.whyuseappblock>div {
  padding: 0.3rem;
}
.whyuseappblock>div>div {
  padding: 4rem 1.7rem;
  border-radius: 1.25rem;
  text-align: center;
}
.whyuseappblock .main-heading {
  font-size: 4rem;
  font-weight: 700;
}
.whyuseappblock .sub-heading {
  font-size: 1.37rem;
}

/*purple dot*/
.cardpurpledot div.purpleDot {
  width: 2rem;
  height: 2rem;
  background-color: #A38DD2;
  border-radius: 50%;
}
.cardpurpledot {
  box-shadow: 12px 12px 100px 12px rgba(68, 68, 68, 0.08);
  border-radius: 0.63rem;
  padding: 2rem;
  height: 100%;
}

/*cta card*/
.cta-card {
  padding: 0.625rem 3.75rem 0.625rem 0.5rem;
  background: linear-gradient(90deg, rgba(163, 141, 210, 0.20) 0%, rgba(163, 141, 210, 0.00) 100%);
  font-size: var(--size-three);
  font-weight: 600;
  border-radius: 0.3rem;
  line-height: 4.375rem;
}

/*Contact Us page*/
.contact-card {
  padding: 3rem 4rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
}
.social-icons-contact a {
  margin-right: 2rem;
}
.inputSection label {
  font-size: 1.25rem;
  font-weight: 500;
}
.inputSection input, .inputSection textarea {
  border: 0;
  border-bottom: 1px solid #C2C2C2;
}
.inputSection input:focus-visible, .inputSection textarea:focus-visible, footer form input{
  outline: none;
}
.checkbox-option input[type="checkbox"] {
  appearance: none;
  border: 1px solid #000;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}
.checkbox-option input[type="checkbox"]:checked {
  background: #fff;
  border: 5px solid var(--purple);
}

/*Slider CSS*/

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 1360px;
  margin: auto;
  overflow: hidden;
  margin-top: 8%;
}

.slide {
  width: 400px;
  display: none;
}

.slide img{
  width: 380px;
  height: 500px;
  object-fit: cover;
  object-position: center;
  margin: 10px;
}

.icon {
  position: absolute;
  top: 50%;
  font-size: 35px;
  background-color: #ffffff9c;
  cursor: pointer;
  padding: 8px;
}
.icon.next {
  right: 13px;
}
.icon.prev {
  left: 13px;
}
/*Footer*/
footer{
  background: var(--bg-color);
  /* position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1; */
}
footer p {
  line-height: 1.75rem;
}

footer p, footer li, footer a {
  font-size: 1.1rem;
  line-height: 1.8rem;
  color: #fff;
}
footer ul{
  margin-top: 1.7rem;
  padding: 0;
}
footer li{
  list-style: none;
}
footer li:hover {
  text-decoration: underline;
}

footer h6{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.01875rem;
  color: #fff;
  margin-bottom: 0;
}
footer form {
  background-color: #fff;
  padding: 0.75rem 1.2rem;
  border-radius: 0.5rem;
}
footer form input {
  border: none;
}
footer form button {
  border: none;
  background-color: #fff;
}

/*Mega Menu*/

li.nav-item.dropdown{
  position: static;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
  max-height: 100%;
}
.dropdown-menu ul {
  list-style: none;
}

/**Accordion**/
.accordion-button:focus{
  border-color: var(--purple);
  box-shadow: none;
}

.accordion-button:not(.collapsed){
  color: var(--primary-font-color);
  background-color: #fbc2eb70;
}
/**********************************************Responsive CSS************************************************/

@media (min-width : 480px) {
  .sliderHeading {
    font-size: 4rem;
    line-height: 5.25rem;
  }

  .mainHeading {
    font-size: 3rem;
    line-height: 3.8rem;
  }
  .seoformText .t2 {
    font-size: 5.5rem;
    line-height: 6.25rem;
}
}

@media (min-width: 768px) {
  h2 {
    font-size: var(--size-five);
    line-height: var(--size-seven);
  }

  h3 {
    font-size: var(--size-four);
    line-height: var(--size-five);
  }

  .mainHeading {
    font-size: var(--size-five);
    font-weight: 600;
    line-height: var(--size-seven);
  }

  .homeCardSectionTwo:nth-child(2) {
    margin-top: 4rem;
  }
}

@media (min-width: 992px) {
  /*header CSS*/
  .custom-width {
    width: initial !important;
  }

  .slider-bg {
    padding: 5rem 0;
  }

  .sliderHeading {
    font-size: var(--size-eight);
    font-weight: 600;
    line-height: var(--size-nine);
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    left: 0;
    right: 0;
    overflow-y: auto;
    max-height: 500px;
  }
  .dropdown-item {
    margin:0;
  }
}

@media (min-width: 1200px){
  .genralSlider {
    padding: 5rem 0 7rem;
    background-size: 63%;
  }
  .genralsliderHeading {
    max-width: 31rem;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .whyuseappblock>div>div {
    padding: 4rem 1.3rem;
  }
  .slider-bg {
    padding: 9rem 0;
  }
  .home-slider-image{
    margin-top: 0;
  }
}

@media (min-width : 1400px){
  .whyuseappblock .main-heading {
    font-size: 5rem;
  }
  .whyuseappblock>div>div {
    padding: 4rem 2rem;
  }
}

@media (min-width: 1700px) {
  .container {
    max-width: 1632px;
  }
  .genralSlider {
    padding: 6rem 0 11rem;
    background-size: auto;
  }
  .genralsliderHeading {
    font-size: 3.5rem;
    line-height: 4rem;
    padding-top: 6rem;
    max-width: 43rem;
}
  .sliderHeading {
    font-size: var(--size-nine);
    font-weight: 600;
    line-height: 5.5rem;
  }
}





